/* Styling for Site Complexity */
div.site_complexity {
  display: inline-block;
}
table.site-complexity {
  table-layout: auto;
  width: 500px;
}

table.site-complexity caption {
  font-weight: bold;
  font-size: larger;
}

table.site-complexity td {
  padding: 6px 12px;
}

.right--site-complexity {
  text-align: right;
}
.numeric--site-complexity {
  font-family: monospace;
  font-size: larger;
}

form#site-complexity-settings label {
  width: 15em;
  display: inline-block;
}

form#site-complexity-settings input {
  display: inline-block;
}

form#site-complexity-settings textarea {
  width: 300px;
}
